
  .subscribe-box {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-around;
    // font-size: 18px;
    // padding-bottom: 50px;
    

    button {
      padding: 10px 40px;
      background-color: #2196f3;
      border: none;
      color: var(--font-color);
      font-weight: bold;
      border-radius: 5px;
      min-width: 30%;
      margin: 20px 0;

      @media screen and (max-width: 640px){
        margin: 10px;
      }
    }

    input {
      padding: 10px;
      min-width: 55%;
      margin: 10px;
    }
  }

