$nav-bg-color: #228aa9f1;

.bg-color-active {
  background-color: $nav-bg-color;
  transition: background-color 0.15s ease-out;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: background-color 0.15s linear;

  @media screen and (max-width: 640px) {
    background-color: $nav-bg-color;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    font-size: 16px;
    opacity: 0;
    animation: fadeInFromTop 0.1s ease-out forwards;

    @keyframes fadeInFromTop {
      0% {
        transform: translateY(-30%);
      }
      100% {
        transform: translateY(0%);
        opacity: 1;
      }
    }

    @media screen and (max-width: 640px) {
      
      justify-content: space-between;
      .show {
        transform: translateY(301px);
      }
    }

    li {
      cursor: pointer;
      transition: 0.2s;
      list-style: none;
      text-shadow: 0 1px 5px black;

      div {
        padding: 0 10px;
      }
    }

    //   HAMBURGER
    .hamburger {
      display: none;
      div {
        border-bottom: 4px solid white;
        border-radius: 10px;
      }

      @media screen and (max-width: 640px) {
        display: block;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    //  LOGO
    .website-logo {
      li {
        img {
          margin-top: -10px;
          height: 50px;
          border-radius: 50%;

          @media screen and (max-width: 640px) {
            margin-left: -20px;
          }
        }
      }
    }

    //   NAV ITEMS
    .li-items {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: center;

      @media screen and (max-width: 640px) {
        position: absolute;
        width: 100vw;
        height: 35vh;
        left: 0;
        top: -38vh;
        background-color: $nav-bg-color;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transition: 0.35s;
        z-index: -1;
      }
    }
  }
}
