// $nav-bg-color: #228aa9f1;
$nav-bg-color: rgba(0, 0, 0, 0.9);

.bg-color-active {
  background-color: $nav-bg-color;
  transition: 0.2s;
}

.display-none{
  display:none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 16px;
    opacity: 0;
    animation: fadeInFromTop 0.1s ease-out forwards;

    @keyframes fadeInFromTop {
      0% {
        transform: translateY(-30%);
      }
      100% {
        transform: translateY(0%);
        opacity: 1;
      }
    }

    @media screen and (max-width: 640px) {
      justify-content: space-between;
    }

    li {
      cursor: pointer;
      transition: 0.2s;
      list-style: none;
      text-shadow: 0 1px 5px black;

      div {
        padding: 0 10px;
      }
    }

    //   HAMBURGER
    .hamburger {
      display: none;

      div {
        border-bottom: 4px solid white;
        border-radius: 10px;
      }

      @media screen and (max-width: 700px) {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    //  LOGO
    .website-logo {
      img {
        border-radius: 50%;
        height: 70px;

        @media screen and (max-width: 640px) {
          // margin-left: -20px;
          height: 50px;
        }
      }
    }

    //   NAV ITEMS
    .li-items {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;

      @media screen and (max-width: 700px) {
        width: 100vw;
        height: 30vh;
        left: 0;
        font-size: 1.3rem;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        transition: 0.2s;
        z-index: -1;
      }
    }
  }
}
